{%  extends 'base/main.html' %}
{% block content %}

<style></style>
<div class="container">
    <div style="display: block; background: red;">
        <h1 style="color:white;">Funknator</h1>
        <button type="button" style="color:red;">Equalizador</button>
        <div style="margin-top: 15px;"></div>
        <p style="color:white">Escolha o tempo da música, indicado 1 para músicas rápidas, 2 para músicas médias e 3 para músicas lentas</p>
        <p style="color:white;">[ 0---------------1----------------2---------------3</p>
        <p style="color:white;">[ --------------------------------------------->---- ]</p>
</div>
{% endblock %}